$background: #fafafa;
$pocket-aqua: #50bcb6;
$pocket-red: #f13044;



html, body {
  width: 450px;
  height: 550px;
  font-size: 65%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: sans-serif;
  background-color: $background;
}

section {
  width: 100%;
  position: relative;
}

.hidden { display: none; }

.authentication {
  padding: 20px 0;
  text-align: center;
}

/* TODO Use flexbox for this component and its content instead
 *      of hard-coded heights */
.authenticated {
  height: 550px;
}

.list-component {
  width: 100%;
  height: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;

  .item {
    margin: 0;
    position: relative;
    padding: 8px 1px 2px 1px;
    border-bottom: 1px solid #eee;

    span, .tick {
      cursor: pointer;
    }

    /* TODO: Flexbox for span + tick sizing */
    span {
      display: inline-block;
      width: 95%;
      margin-left: 6px;
      height: 16px;
      line-height: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title {
      font-size: 1.25rem;
      font-weight: bold;
      color: #555;
    }

    &:hover .title {
      color: $pocket-aqua;
    }

    .url {
      position: relative;
      top: -4px;

      font-size: 0.8rem;
      color: #aaa;
    }


    &:hover .actions-container {
      opacity: 1;
      transition: opacity 200ms ease-out;
    }

    &:hover .tick {
      opacity: 0.7;
    }

    .actions-container {
      opacity: 0;
      transition: opacity 200ms ease-out;
      z-index: 1;

      position: absolute;
      top: 0px;
      right: 0px;
      width: 60px;
      height: 100%;
      background-color: transparentize( $background, 0.1 );
      border-left: 1px solid #ddd;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .tick-action {
        width: 100%;

        .tick, .loader {
          position: relative;
          top: 12px;
          margin: auto;

          width: 24px;
          height: 24px;
          line-height: 24px;
        }

        .tick {
          color: white;
          font-size: 1.1rem;
          text-align: center;
          background-color: #aaa;
          border-radius: 20px;
          opacity: 0.5;

          &:hover {
            background-color: $pocket-red;
            opacity: 1;
          }
        }

        .loader {
          height: 12px;
          width: 12px;
          animation: rotate 0.8s infinite linear;
          border: 4px solid #f15d6c;
          border-right-color: transparent;
          border-radius: 50%;
        }
      }
    }
  }
}




@keyframes rotate {
  0%    { transform: rotate( 0deg); }
  100%  { transform: rotate(360deg); }
}

.search-no-results {
  width: 100%;
  height: 357px;
  margin: 0;
  padding-top: 2rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
}


.top-actions {
  display: flex;
  flex-direction: row;

  height: 30px;
  width: 100%;
  padding: 5px 0;

  background-color: $pocket-aqua;

  .icon {
    flex: initial;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    font-size: 2rem;
    color: white;

    opacity: 0.6;
    transition: opacity 100ms ease-out;

    &:first-child {
      padding-left: 0px;
    }

    &:hover {
      opacity: 1;
      transition: opacity 100ms ease-out;
    }

    &.random-item {
      font-weight: bold;
    }
  }

  .filter-items {
    flex: 1;
    margin: 3px 10px 3px 60px;
    padding-left: 10px;

    background-color: transparentize( white, 0.5 );
    border-radius: 20px;
    border: 1px solid #ddd;
    color: #555;
    font-size: 1.2rem;
  }
}


/*
 * Thanks to Che for this example: http://codepen.io/code_dependant/pen/ciGLA?editors=1100
 */
.main-loader {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;

  &.loading {
    background-color: transparent;
  }

  &.loading:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: $pocket-red;
    left: 0%;
    right: 100%;

    animation: loading 1.2s ease infinite;
  }
}


@keyframes loading {
  0%   { left: 0;     right: 100%; }
  50%  { left: 0;     right: 0;    }
  100% { left: 100%;  right: 0;    }
}



.flash-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 32px;
  opacity: 1;

  font-size: 1.2rem;
  font-weight: bold;
  line-height: 25px;
  text-align: center;

  &.error {
    border-top: 1px solid red;
    background-color: rgba( 215, 25, 25, 0.7 );
    color: white;
  }
  &.notice {
    border-top: 1px solid #58addd;
    background-color: rgba( 88, 175, 220, 0.8 );
    color: white;
  }

  &.hidden {
    /* Needed to counter the 'display:none' of the .hidden class. Without this, the overlay
     * display goes from block to none, and it's hidden all at once */
    display: block;

    height: 0px;
    opacity: 0;
    transition: height 500ms ease-out, opacity 500ms ease-out;
  }
}
