body {
  color: #444;
  font-size: 87%;
}

.row {
  margin: 0px;
  margin-left: -5px;
  padding: 8px 0px 8px 4px;
  line-height: 20px;
  border-top: 1px solid #c1c1c1;

  input {
    display: inline-block;
  }

  &:first-of-type {
    border-top: 0px none;
  }
}


label {
  display: inline-block;
  width: 25%;
  min-width: 200px;
}

a {
  color: #0095dd;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

